[submodule "build_utils"]
	path = build_utils
	url = git@github.com:rbkmoney/build_utils.git
	branch = master
[submodule "damsel"]
	path = damsel
	url = git@github.com:rbkmoney/damsel.git
	branch = master
[submodule "lib/observer_cli"]
	path = lib/observer_cli
	url = https://github.com/keynslug/observer_cli
	branch = master
[submodule "mgproto"]
	path = mgproto
	url = git@github.com:rbkmoney/machinegun_proto
[submodule "cds_proto"]
	path = cds_proto
	url = git@github.com:rbkmoney/cds-proto.git
	branch = master
[submodule "bender-proto"]
	path = bender-proto
	url = git@github.com:rbkmoney/bender-proto.git
[submodule "msgpack-proto"]
	path = msgpack-proto
	url = git@github.com:rbkmoney/msgpack-proto.git
