[submodule "build_utils"]
	path = build_utils
	url = git@github.com:rbkmoney/build_utils.git
	branch = master
[submodule "damsel"]
	path = damsel
	url = git@github.com:rbkmoney/damsel.git
	branch = master
[submodule "lib/observer_cli"]
	path = lib/observer_cli
	url = https://github.com/zhongwencool/observer_cli
